argparse
pytest-shutil
numpy
pandas
pascal_voc_writer
Pillow
imageio
tqdm
opencv-python
matplotlib
xml-python
scipy
seaborn
sklearn
torch
torchvision
torchaudio
geopandas
shapely
albumentations
imutils